## Verilerin istatistiksel olarak ayarlanması

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('data.csv')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   summary-marketing-airlines  2530 non-null   object
 1   itemAirport                 2530 non-null   object
 2   itemAirport 2               2530 non-null   object
 3   summary-luggage-unit        2530 non-null   object
 4   summary-transit             2530 non-null   object
 5   money-int                   2530 non-null   int64
 6   zaman                       2530 non-null   int64
dtypes: int64(2), object(5)
memory usage: 138.5+ KB
None

In [7]:
df['marketing-airlines'] = df['summary-marketing-airlines'].astype('category')
df['departure airport'] = df ['itemAirport'].astype('category')
df['arrival airport'] = df ['itemAirport 2'].astype('category')
df['luggage-unit '] = df['summary-luggage-unit'].astype('category')
df['flight type'] = df['summary-transit'].astype('category')
df['price'] = df['money-int'].astype('int')
df['time'] = df['zaman'].astype('int')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   summary-marketing-airlines  2530 non-null   object
 1   itemAirport                 2530 non-null   object
 2   itemAirport 2               2530 non-null   object
 3   summary-luggage-unit        2530 non-null   object
 4   summary-transit             2530 non-null   object
 5   money-int                   2530 non-null   int64
 6   zaman                       2530 non-null   int64
 7   marketing-airlines          2530 non-null   category
 8   departure airport           2530 non-null   category
 9   arrival airport             2530 non-null   category
 10  luggage-unit                2530 non-null   category
 11  flight type                 2530 non-null   category
 12  price                       2530 non-null   int64
 13  time                        2530 non-null   int64
dtypes: category(5), int64(4), object(5)
memory usage: 193.6+ KB
None

In [9]:
df.drop(['summary-marketing-airlines','itemAirport','itemAirport 2','summary-luggage-unit',
    'money-int' ,'zaman','summary-transit'],axis=1,inplace=True)

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   marketing-airlines  2530 non-null   category
 1   departure airport   2530 non-null   category
 2   arrival airport     2530 non-null   category
 3   luggage-unit        2530 non-null   category
 4   flight type         2530 non-null   category
 5   price               2530 non-null   int64
 6   time                2530 non-null   int64
dtypes: category(5), int64(2)
memory usage: 55.2 KB
None

# nümerik hesaplama

In [11]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns :
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3-Q1 
    min_value = Q1 - 1.5*IQR
    max_value = Q3 + 1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column : {column}, min: {min_value}, max: {max_value}")

Column : price, min: -5071.5, max: 28332.5
Column : time, min: -502.5, max: 1077.5

#aykırı değer temizlenmesi

In [13]:
for i,column in enumerate(columns) : 
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2233 entries, 0 to 2521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   marketing-airlines  2233 non-null   category
 1   departure airport   2233 non-null   category
 2   arrival airport     2233 non-null   category
 3   luggage-unit        2233 non-null   category
 4   flight type         2233 non-null   category
 5   price               2233 non-null   int64
 6   time                2233 non-null   int64
dtypes: category(5), int64(2)
memory usage: 66.5 KB
None

In [16]:
print(df.describe())

              price         time
count   2233.000000  2233.000000
mean   11209.830273   295.685177
std     6266.286433   243.337417
min       71.000000    70.000000
25%     6948.000000    90.000000
50%    11676.000000   151.000000
75%    13882.000000   430.000000
max    28241.000000  1070.000000

In [17]:
df = df[df['price'] >= 1000]

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2141 entries, 0 to 2521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   marketing-airlines  2141 non-null   category
 1   departure airport   2141 non-null   category
 2   arrival airport     2141 non-null   category
 3   luggage-unit        2141 non-null   category
 4   flight type         2141 non-null   category
 5   price               2141 non-null   int64
 6   time                2141 non-null   int64
dtypes: category(5), int64(2)
memory usage: 63.9 KB
None

In [19]:
print(df.describe())

              price         time
count   2141.000000  2141.000000
mean   11660.794021   295.154134
std     6001.096677   241.545146
min     1017.000000    70.000000
25%     7572.000000    95.000000
50%    11821.000000   151.000000
75%    13971.000000   425.000000
max    28241.000000  1070.000000

In [20]:
df.to_csv('data_cleaned.csv', index = False)