# Paris Londra Uçak Bileti Fiyatları

In [3]:
import os
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('ticket/enuygun (1).csv')

In [ ]:
df.info()

In [12]:
files = os.listdir('ticket')
df = pd.concat ([pd.read_csv(f"ticket/{file}")for file in files],ignore_index=True)

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   summary-marketing-airlines  2530 non-null   object
 1   itemAirport                 2530 non-null   object
 2   itemAirport 2               2530 non-null   object
 3   summary-luggage-unit        2530 non-null   object
 4   summary-transit             2530 non-null   object
 5   summary-duration            2530 non-null   object
 6   money-int                   2530 non-null   int64
 7   zaman                       2530 non-null   int64
dtypes: int64(2), object(6)
memory usage: 158.3+ KB
None

In [18]:
df.drop([
     'itemAirport 3'],axis=1,inplace=True)

In [ ]:
print(df.info())

In [47]:
print(df.columns)

Index(['summary-marketing-airlines', 'itemAirport', 'itemAirport 2',
       'summary-luggage-unit', 'summary-transit', 'summary-duration',
       'money-int', 'zaman'],
      dtype='object')

In [49]:
print(df['zaman'].unique())

[  85   75   80   95  600  645  775  860  930  138  140  141  142  143
  146  149  151  325  345 1420  350  420 1070  630  260  320  335  375
 1340  270  380  425  545  555  605  615  665 1395  410  535  590  715
  785 1255 1435  265  435  485  495 1295 1375 1190 1165 1365 1390  755
  250  400  680  295 1000  620  310  700  625  365  220  275  300  395
   90  635  935  855  340  465  530 1300  152  610  405  330  500  145
  147  285 1270  445  800  805  705  205 1405  415  795  580  710  565
  315  430  515  820  144  940  255 1305 1205  650  450  290  470  560
 1040  385 1090  525  150  825  240  195  360  510   70  154  965  690
  850  660 1125  305  790  440  745  655  675  900 1445  460  390  245
  505  780  475  640  720  695  875  830 1440 1215 1415 1470  685  865
  740  925  139  670  915  980  770 1345 1465  985 1225 1285  750 1210
  480  760 1105  735  570  370  355 1455  840  885 1060 1185  910  970]

In [32]:
df['money-int'] = df['money-int'].apply(lambda x: int(str(x).replace('.', '')))

In [34]:
print(df['money-int'].unique)

<bound method Series.unique of 0        4801
1        5286
2        5286
3        5945
4        6052
        ...
2525    34979
2526    34979
2527    34979
2528    34979
2529    51892
Name: money-int, Length: 2530, dtype: int64>

In [45]:
def hesapla_toplam_dakika(x):
    toplam_dk = 0
    if 'g' in x:
        gün = int(x.split('g')[0].strip())
        toplam_dk += gün * 24 * 60
        x = x.split('g')[1]
    if 'sa' in x:
        saat = int(x.split('sa')[0].strip())
        toplam_dk += saat * 60
        x = x.split('sa')[1]
    if 'dk' in x:
        dakika = int(x.split('dk')[0].strip())
        toplam_dk += dakika
    return toplam_dk

In [46]:
df['zaman'] = df['summary-duration'].apply(hesapla_toplam_dakika)